.h1 {
    color: brown;
    text-align: center;
}
.h2 {
    color: brown;
    text-align: center;
    margin: 30px ;
}

body {
    background-color: rgb(241, 233, 223);
}
.story {
    font-style: italic;
}
